.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  text-align: center;
}

.container h1 {
  font-size: 48px;
  color: #ef4444;
  margin-bottom: 10px;
}

.container a {
  margin-top: 20px;
  color: #2563eb;
  font-weight: bold;
}
